html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  border: none;
  background-color: transparent;
}

html, body {
  height: 100%;
  background-color: hsl(207deg, 26%, 17%);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

header {
  background-color: hsl(209deg, 23%, 22%);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.1em 0.5em 0.1em hsl(208deg, 22%, 13%);
}
header .title-header {
  font-size: 1.2em;
  font-weight: 800;
  display: flex;
  align-items: center;
  position: relative;
  left: 50px;
  color: hsl(0deg, 0%, 100%);
}
header div + div {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  display: flex;
  align-items: center;
  position: relative;
  right: 50px;
  color: hsl(0deg, 0%, 100%);
}
header div + div svg {
  font-size: 0.9em;
}
header div + div button {
  height: 50%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  border: none;
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  color: hsl(0deg, 0%, 100%);
  position: relative;
  z-index: 0;
}
main .action-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
}
main .action-section label {
  left: 45px;
  position: relative;
}
main .action-section label .icon {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 15px;
  left: 20px;
}
main .action-section label input {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: hsl(209deg, 23%, 22%);
  padding-left: 50px;
  border-style: none;
  color: hsl(0deg, 0%, 100%);
  font-size: 0.9em;
}
main .action-section label input::-moz-placeholder {
  color: hsl(0deg, 0%, 100%);
  opacity: 10;
}
main .action-section label input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
  opacity: 10;
}
main .action-section label input::placeholder {
  color: hsl(0deg, 0%, 100%);
  opacity: 10;
}
main .action-section .filter-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 45px;
}
main .action-section .filter-bar .filter-title {
  height: 40px;
  width: 200px;
  background-color: hsl(209deg, 23%, 22%);
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
main .action-section .filter-bar .filter-title positi span {
  padding-left: 0.7rem;
}
main .action-section .filter-bar .filter-title .arrow {
  width: 8px;
  height: 8px;
  border: 1px solid;
  border-right: hsl(0deg, 0%, 100%);
  border-bottom: hsl(0deg, 0%, 100%);
  transform: rotate(225deg);
}
main .action-section .filter-bar .filter-title .arrow:hover {
  cursor: pointer;
}
main .action-section .filter-bar .display-country {
  background-color: hsl(209deg, 23%, 22%);
  margin-top: 0.4rem;
  position: relative;
  z-index: 2;
  display: none;
}
main .action-section .filter-bar .display-country ul {
  list-style: none;
}
main .action-section .filter-bar .display-country ul li {
  padding-left: 1rem;
  margin: 1rem;
  height: 20px;
}
main .action-section .filter-bar .display-country ul .regionLi:hover {
  background-color: cadetblue;
  height: 100%;
  cursor: pointer;
}
main .action-section .filter-bar .display-country ul div {
  height: 100%;
}
main .country-section {
  position: absolute;
  top: 100px;
  z-index: 1;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .country-section .block-country {
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}
main .country-section .block-country img {
  border-radius: 5px 5px 0 0;
  width: 240px;
  height: 160px;
}
main .country-section .block-country .info-block {
  background-color: hsl(209deg, 23%, 22%);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 5px 5px;
  width: 240px;
}
main .country-section .block-country .info-block h2 {
  position: relative;
  left: 1rem;
  font-weight: 800;
}
main .country-section .block-country .info-block ul {
  position: relative;
  left: 1rem;
  list-style: none;
  font-size: 0.8em;
}/*# sourceMappingURL=home.css.map */